.container{
    border: 1px solid red;
}

.header-menu {
    list-style: none;
    border: 1px solid black;
    float: left;
    

}

.header-menu li {
    position: relative;
    float: left;
    border-right: 1px solid black;
    gap: 10px;
}